.main {
  	font-family: "Courier New";
  	font-style: bold;
  	color: white;
	text-align: center;
}

.caption {
	font-family: "Courier New";
	font-style: oblique;
	color: white;
	text-align: center;
	font-size: 100%;

}

html {
	background: black;
}

.early_life {
	color: #00ff20;
	font-family: monospace;
	font-style: oblique;
	font-size: 15px;

}

.founding_apple {
	color: white;
	text-align: right;
	margin-right: 200px;
	margin-top: -100px;

}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
